@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables in hsl() notation for easy use with tailwind
  --"name" is the base color
  --"name-foreground" is the color that can be used on top of the base color
  Structured in pairs like this to enable easy adjustments, 
  readability and especially dark mode switching :)
*/
@layer base {
  /* base colors */
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --radius: 0.5rem;
  }

  /* dark mode colors - essentially base colors flipped around */
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
  }
}
